<html lang="en">
    <head>
        <title>WEBRTC</title>
    </head>
    <body>
        <h1>ABCCCC</h1>
        <video id="localStream" width="300" controls></video>
        <br /><br />
        <video id="friendStream" width="300" controls></video>
        <br /><br />
        <label>My Connection Token</label>
        <br /><br />
        <textarea rows="3" cols="100" id="txtMySignal"></textarea>
        <br /><br />
        <input type="text" placeholder="Your friend's signal" id="txtFriendSignal">
        <br /><br />
        <button id="btnConnect">Connect</button>
    </body>
    <script type="text/javascript" src="bundle.js"></script>
</html>